<% let forms = {
  "indicative": {
    mood: "indicative",
    frm: [
    {
      desc: "present",
      tense: "present",
      aspect: "simple"
    },
    {
      desc: "passé composé",
      tense: "present",
      aspect: "perfect"
    },
    {
      desc: "imparfait",
      tense: "present",
      aspect: "imperfect"
    },
    {
      desc: "plus-que-parfait",
      tense: "past",
      aspect: "perfect",
      period: "long"
    },
    {
      desc: "passé simple",
      tense: "past",
      aspect: "simple"
    },
    {
      desc: "passé antérieur",
      tense: "past",
      aspect: "perfect",
      period: "short"
    },
    {
      desc: "futur simple",
      tense: "future",
      aspect: "simple"
    },
    {
      desc: "futur antérieur",
      tense: "future",
      aspect: "perfect"
    }
    ]
  },
  "subjunctive": {
    mood: "subjunctive",
    frm: [
    {
      desc: "present",
      tense: "present",
      aspect: "simple"
    },
    {
      desc: "past",
      tense: "past",
      aspect: "simple"
    },
    {
      desc: "imparfait",
      tense: "present",
      aspect: "imperfect"
    },
    {
      desc: "plus-que-parfait",
      tense: "past",
      aspect: "perfect"
    }
    ]
  },
  "conditional": {
    mood: "conditional",
    frm: [
    {
      desc: "present",
      tense: "present"
    },
    {
      desc: "passé (forme 1)",
      tense: "past",
      form: 1
    },
    {
      desc: "passé (forme 2)",
      tense: "past",
      form: 2
    }
    ]
  }
};
const pronouns = morpho.lopt("Pronoun"),
  tenses = ["present", "past", "future"];

let conj = function(pronoun, mood, form) {
  let opts = {
    mood: mood
  };
  opts = Object.assign(opts, pronoun, form);
  return morpho.conj(verb, opts);
}

let disp = "display:block";
let clstab = " active";
%>


<div class="cselector">
  <% for (fi in forms) {  %>
    <a class="<%= "atab" + clstab %>" href="#"
      onclick="openForm(event, '<%= fi %>')"><%= fi %></a>
    <% clstab = "" %>
  <% } %>
</div>

<div class="ccontainer">

  <% for (fi in forms) { let form = forms[fi]; %>
    <div class="cform hflex" id=<%= fi + "-tab" %> style=<%= disp %> >
    <% disp = "display:none" %>

      <h1 class="lay-1"><%= i18n.__(fi) %></h1>
      <% for (ti in form.frm){ let tense = form.frm[ti]; %>
      <div class="ctense lay-2 lay-big-3">
        <table>
          <tr>
            <th></th>
            <th><%= i18n.__(tense.desc) %></th>
          </tr>
          <% for (pi in pronouns){ let pronoun = pronouns[pi]; %>
          <tr>
            <th><%= morpho.goptname("Pronoun", pronoun); %></th>
            <td><%= conj(pronoun, form.mood, tense); %></td>
          </tr>
          <% } %>
        </table>
      </div>
      <% } %>
    </div>
  <% } %>
</div>
